// font style component
html {
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
q,
a,
label,
button,
span {
  @apply font-satoshi;
}

.text-default {
  @apply text-gray-500;
}
h1 {
  @apply text-7xl;
}

h2 {
  @apply text-6xl;
}

h3 {
  @apply text-5xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

q {
  @apply sm:text-3xl md:text-5xl;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  /* Untuk layar dengan lebar maksimum 768px (umumnya tablet dan ponsel) */
  html {
    font-size: 10px; /* Ukuran font lebih kecil untuk layar kecil */
  }
  h1 {
    @apply text-5xl;
  }
}

@media screen and (min-width: 768px) {
  /* Untuk layar dengan lebar maksimum 768px (umumnya tablet dan ponsel) */
  html {
    font-size: 12px; /* Ukuran font lebih kecil untuk layar kecil */
  }
  h1 {
    @apply text-5xl;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}
